body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cat{
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.nav-title {
  display:flex;
  justify-content: flex-start;
  padding:0.5em;
  color: white;
  text-decoration: none;
}

.title-page {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}
