:root {
  font: 16px / 1 sans-serif;
  --white: rgb(100%, 100%, 100%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.navbar-start,
.navbar-end {
  display: flex;
  flex-direction: row;
  margin-left: 25em;
  font-weight: bold;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.photo-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgb(97%, 97%, 98%);
  padding-top: 2em;
}

.img-style {
  display: flex;
  height: 15em;
  border-radius: 2em;
  border: 1px #e1e4e8 solid !important;
  background-color: var(--white);
}

.cat-info {
  color: black;
  font-size: 0.5em;
}

/* .title-section {
  font-size:2em;
  color:black;
}

.favorite-cats {
  color:black;
} */
